<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title> Remote Jobs </title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script src="https://kit.fontawesome.com/0f4591b7a3.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Istok+Web&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Raleway:300,400,500,600,700|Crete+Round:400i" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>

  <body>

    <!-- BAR -->
		<div id="page-menu">
			<div id="page-menu-wrap">
				<div class="container clearfix">
					<div class="menu-title"><span>JOBS</span></div>
					<nav class="one-page-menu">
						<ul>
              <li><a href="<%= Routes.static_path(@conn, "/")%>" data-href="#header"><div>Jobs</div></a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div><!-- #page-menu end -->

    <!-- body -->
    <%= render @view_module, @view_template, assigns %>
    <br><br><br><br>

    <!-- footer -->
		<footer id="footer" class="dark">
			<div id="copyrights">
				<div class="container clearfix">
					<div class="col_half">
						Jobs, 2019.<br>
					</div>
				</div>
			</div>
		</footer>
    <!-- #footer end -->

    <script>
function open_url(url) {
  window.open(url, '_blank');
};
    </script>
  </body>
</html>
