/* This file is for your main application css. */

@import "../../deps/phoenix_live_view/assets/css/live_view.css";
@import '../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../node_modules/card-js/card-js.min.css';

@import 'theme/style.css';
@import 'theme/swiper.css';
@import 'theme/movers.css';
/*@import 'theme/responsive.css';*/

.ql-toolbar.ql-snow + .ql-container.ql-snow {
	height: 10rem;
}

.primary_tag{
	color: #3e3838;
	background-color: #e4e4e4;
}

.extra_tag{
	color: #ffffff;
	background-color: #33bd9b;
	font-size: 93%;
}

.job_title{
	font-size: 2rem;
}

.blue_jumbotron{
	background-color: #f8f8f8;
}

.title{
	font_size: 32px;
}

.large_text_jumbotron{
	background-color: #fafafb;
	padding: 1rem 1rem;
}

.rcorners {
	border-radius: 25px;
	border: 2px solid #c3c3c2;
}

.img-back{
	background-color: #e8ecef;
}

.img-preview{
	width: 75%;
	padding-top: 15px;
}

#parent:hover .parent-highlight {
	background-color: #afb8bf;
}

.error_color{
	color: #b50c0c;
}

.main_color{
	background-color: #ffffff;
}

.osc_font{
	font-family: 'Open Sans Condensed', sans-serif;
}

.istok_font{
	font-family: 'Istok Web', sans-serif;
}

.title{
	font-size: 50px;
}

.title_newsletter{
	font-size: 35px;
}

.title_div{
	font-size: 40px;
}

.counter{
	font-size: 25px;
}
.subtitle{
	font-size: 18px;
}

.navbar_color{
	background-color: #002973;
}

.navbar_color2{
	background-color: #ffe2e8;
}

.navbar_color3{
	background-color: #f8f8f8;
}

.nav_title{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
}

.nav_title:hover{
	color: #ffffff;
}

.font-white{
	color: #ffffff;
}

.font-black{
	color: #000000;
}

.font-red{
	color: #33bd9b;
}

.nav_btn{
	background-color: #e0022b;
	border: none;
	font-size: 19px;
}

.nav_btn:hover{
	background-color: #a4001e;
	border: none;
}

.nav_btn:active{
	background-color: #e0022b;
	border: none;
}

.dashboard_btn{
	background-color: #ffe2e8;
	border: none;
	font-size: 19px;
}

.dashboard_btn:hover{
	background-color: #a4001e;
	border: none;
}

.dashboard_btn:active{
	background-color: #e0022b;
	border: none;
}

.nav_simple_btn{
	color: #ffffff;
	border: none;
	font-size: 19px;
}

.nav_simple_btn:hover{
	color: #ffffff;
}

.nav_simple_btn:active{
	color: #ffffff;
}

.feature_div{
	background-color: #f8f8f8;
}

.suscribe_div{
	background-color: #002973;
}

.title_footer{
	font-size: 30px;
}

.dashboard-img{
	border-radius: 10%;
	padding-left: 0px;
	padding-right: 0px;
}

.box{
	border-right: none;
	border-left: none;
	border-top: none;
}

.box:hover{
	background-color: #caf6cb;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #ffe2e8;
}

[v-cloak] {
	display:none;
}

.panel-title {
	font-size: 52px;
	font-weight: bold;
	line-height: 45px;
	padding-top: 20px;
	letter-spacing: -0.8px;
}

