<div id="app">
	<div v-cloak>

    <h1> Aplication Job </h1>
		<input type="hidden" id="profile" value="<%= @application %>">
  </div>
</div>

<script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/application_controller.js") %>"></script>
